{% extends "base.html" %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="card mx-auto" style="max-width: 600px;">
        <div class="card-body">
    <h2>Update Profile</h2>

    <!-- Display current profile picture if it exists -->
    {% if form.instance.profile_picture %}
    <div class="mb-3">
        <p>Current Profile Picture:</p>
        <img src="{{ form.instance.profile_picture.url }}" alt="Profile Picture" style="max-width: 200px; height: auto;">
    </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
    </div>
    </div>
</div>
{% endblock %}
